.user-container{
    background-color: rgb(206, 131, 33);
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;
    
}

#user-img{
    height: 100px;
    border-radius: 50%;
}